body{
  background-color: blue;
}

header{
  display: inline-block;
  text-align: center;
}

.column-1{
  display: inline-block;
  vertical-align: top;
}

.column-2{
  display: inline-block;
  vertical-align: top;
}